@charset "UTF-8";

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.none {
  display: none;
}
.wj-tab {
  width: 200%;
  overflow: hidden;
  transition: transform linear 0.2s;
  > div {
    width: 50%;
    float: left;
  }
  &.m-right {
    transform: translateX(-50%);
  }
}

.leftside {
  transition: display linear 0.2s;
}
.wj-msg {
  .main {
    padding-bottom: 4.29rem;
  }

  .header {
    background: -webkit-gradient(linear, left top, right top, from(#68aef1), to(#3b74ee));
    background: -webkit-linear-gradient(left, #68aef1, #3b74ee);
    background: -o-linear-gradient(left, #68aef1, #3b74ee);
    background: linear-gradient(to right, #68aef1, #3b74ee);
    height: 2.2rem;
    line-height: 2.2rem;
    position: relative;
    text-align: center;
    font-size: 0.85rem;
    color: #fff;

    .return-img {
      width: 3%;
      position: absolute;
      left: 3.45%;
      top: 12px;
    }

    .deleteall-btn {
      position: absolute;
      right: 3.45%;
      width: 4.3%;

      img {
        width: 100%;
      }
    }
  }

  .date-txt {
    height: 35px;
    line-height: 35px;
    background: #f8f9fc;
    text-align: center;
    font-size: 0.75rem;
    color: #c0bfbf;
  }

  .msg-ul {
    width: 100%;
    background: #fff;
    li {
      font-size: 0.75rem;
      overflow: hidden;
      width: 100%;
      position: relative;
    }

    .left-title {
      margin-bottom: 0.6rem;
      color: #3a3a3a;
    }

    .right-date {
      float: right;
      font-size: 0.75rem;
      color: #727272;
    }

    .warn-txt {
      font-size: 0.75rem;
      color: #727272;
    }
  }

  .warn-icon {
    width: 0.7rem;
    vertical-align: text-top;
    margin-top: 0.1rem;
  }

  .warn2-icon {
    width: 0.7rem;
  }

  .li-wp-fa {
    display: inline-block;
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 1;
  }

  .list-wp {
    width: 92%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
  }

  .delete-btn {
    width: 4.45rem;
    text-align: center;
    background: #ff3b30;
    color: #fff;
    font-size: 0.7rem;
    height: 3.75rem;
    line-height: 3.75rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  .kown {
    .left-title,
    .warn-txt,
    .right-date {
      color: #c0bfbf;
    }
  }
}

.bomb-wp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);

  .bomb-ct {
    width: 73.33%;
    background: #fff;
    margin: -8.3rem auto 0;
    padding-top: 1rem;
    border-radius: 2px;
    position: relative;
    top: 50%;
  }

  .bomb-title {
    text-align: center;
    font-size: 0.7rem;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .bomb-icon {
    display: block;
    width: 19.26%;
    margin: 0 auto 0.75rem;
  }

  .btn-wp {
    width: 100%;
    position: relative;
    border-top: 1px solid #eee;

    .line {
      position: absolute;
      border-right: 1px solid #eee;
      left: 50%;
      top: 0;
      height: 100%;
    }

    a {
      float: left;
      width: 50%;
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
    }

    .cancle-btn {
      color: #727272;
      font-size: 0.7rem;
    }

    .sure-btn {
      color: #ff3b30;
      font-size: 0.7rem;
    }
  }
}

.wj-schooltime {
  .wrap {
    background: #fff;
  }

  .headtab-wp {
    background: -webkit-gradient(linear, left top, right top, from(#68aef1), to(#3b74ee));
    background: -webkit-linear-gradient(left, #68aef1, #3b74ee);
    background: -o-linear-gradient(left, #68aef1, #3b74ee);
    background: linear-gradient(to right, #68aef1, #3b74ee);
    height: 2.2rem;
    line-height: 2.2rem;
    position: relative;

    .deletepage-btn {
      position: absolute;
      width: 4.26%;
      left: 4%;
    }

    .left-tab,
    .right-tab {
      font-size: 0.7rem;
      color: #fff;
      display: inline-block;
      text-align: center;
    }

    .left-tab {
      width: 25.93%;
      margin-left: 19%;
      margin-right: 1.25rem;
    }

    .right-tab {
      width: 26.93%;
    }

    .tab-active {
      border-bottom: 1px solid #fff;
      height: 2.15rem;
      line-height: 2.17rem;
    }
  }

  .connecting {
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 0.7rem;
    color: #7a7a7a;
    background: #ebf1fb;
  }

  .connect-icon {
    width: 2.93%;
    margin-right: 0.5rem;
    position: relative;
    top: -2px;
  }

  .cnonnect-body {
    padding-top: 1.25rem;
    height: 4.25rem;
    background: #fff;

    .schooltime-icon {
      display: block;
      width: 43.46%;
      margin: 0 auto 0.25rem;
    }

    .left-txt,
    .right-txt {
      display: inline-block;
      font-size: 0.75rem;
      text-align: center;
      color: #3a3a3a;
    }

    .left-txt {
      width: 33.33%;
      margin-left: 15.8%;
    }

    .right-txt {
      width: 32.53%;
    }
  }

  .connecting-wp {
    margin-bottom: 1rem;
    -webkit-box-shadow: #e8eaed 0 0 30px -5px;
            box-shadow: #e8eaed 0 0 30px -5px;
  }

  .clock-ul {
    background: #fff;
    margin-bottom: 3.5rem;
    -webkit-box-shadow: #e8eaed 0 0 30px -5px;
            box-shadow: #e8eaed 0 0 30px -5px;

    li {
      width: 92%;
      padding-top: 1.25rem;
      margin: 0 auto;
      border-bottom: 1px solid #eee;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .li-title {
      float: left;
      font-size: 0.75rem;
      color: #3a3a3a;
    }

    .li-time {
      float: right;
      font-size: 1.2rem;
    }

    .li-date {
      font-size: 0.75rem;
      color: #727272;
      text-align: right;
      padding: 1rem 0;
    }
  }

  .time-btn {
    display: block;
    width: 78.93%;
    height: 2.45rem;
    line-height: 2.45rem;
    color: #fff;
    background: #3895fe;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 0.8rem;
  }
}