@charset "UTF-8";

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wj-msg .date-txt {
    height: 35px;
    line-height: 35px;
    background: #f8f9fc;
    text-align: center;
    font-size: 19.2px;
    font-size: 1.2rem;
  }

.wj-msg .msg-ul {
    width: 100%;
    background: #fff;
  }

.wj-msg .msg-ul li {
      font-size: 22.4px;
      font-size: 1.4rem;
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid #eee;
      position: relative;
    }

.wj-msg .msg-ul .left-title {
      margin-bottom: 22.4px;
      margin-bottom: 1.4rem;
      color: #3a3a3a;
    }

.wj-msg .msg-ul .right-date {
      float: right;
      font-size: 19.2px;
      font-size: 1.2rem;
      color: #727272;
    }

.wj-msg .msg-ul .warn-txt {
      font-size: 22.4px;
      font-size: 1.4rem;
      color: #727272;
    }

.wj-msg .warn-icon {
    width: 22.4px;
    width: 1.4rem;
    vertical-align: text-top;
  }

.wj-msg .li-wp-fa {
    display: inline-block;
    width: 100%;
    background: #fff;
    position: relative;
    height: 120px;
    height: 7.5rem;
    z-index: 1;
  }

.wj-msg .list-wp {
    width: 92%;
    padding-top: 27.2px;
    padding-top: 1.7rem;
    margin: 0 auto;
  }

.wj-msg .delete-btn {
    width: 142.4px;
    width: 8.9rem;
    text-align: center;
    background: #ff3b30;
    color: #fff;
    font-size: 22.4px;
    font-size: 1.4rem;
    height: 120px;
    height: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
    position: absolute;
    right: 0;
    top: 0;
  }

.wj-msg .kown .left-title,
    .wj-msg .kown .warn-txt,
    .wj-msg .kown .right-date {
      color: #c0bfbf;
    }

.bomb-wp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .2);
}

.bomb-wp .bomb-ct {
    width: 73.33%;
    background: #fff;
    margin: -265.6px auto 0;
    margin: -16.6rem auto 0;
    padding-top: 32px;
    padding-top: 2rem;
    border-radius: 2px;
    position: relative;
    top: 50%;
  }

.bomb-wp .bomb-title {
    text-align: center;
    font-size: 22.4px;
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 27.2px;
    margin-bottom: 1.7rem;
  }

.bomb-wp .bomb-icon {
    display: block;
    width: 19.26%;
    margin: 0 auto 24px;
    margin: 0 auto 1.5rem;
  }

.bomb-wp .btn-wp {
    width: 100%;
    position: relative;
    border-top: 1px solid #eee;
  }

.bomb-wp .btn-wp .line {
      position: absolute;
      border-right: 1px solid #eee;
      left: 50%;
      top: 0;
      height: 100%;
    }

.bomb-wp .btn-wp a {
      float: left;
      width: 50%;
      height: 80px;
      height: 5rem;
      line-height: 80px;
      line-height: 5rem;
      text-align: center;
    }

.bomb-wp .btn-wp .cancle-btn {
      color: #727272;
    }

.bomb-wp .btn-wp .sure-btn {
      color: #ff3b30;
    }

.wj-schooltime .headtab-wp .delete-btn {
      width: 24.8px;
      width: 1.55rem;
    }

.wj-schooltime .headtab-wp .left-tab,
    .wj-schooltime .headtab-wp .right-tab {
      font-size: 22.4px;
      font-size: 1.4rem;
      color: #fff;
      display: inline-block;
      text-align: center;
    }

.wj-schooltime .headtab-wp .left-tab {
      width: 25.93%;
    }
